img{
    max-width: 100%;
}
.clr_10{
    width: 100%;
    display: block;
    height: 10px;
}
.total{
    width: 100%;
}
.padding-top-200{
    padding-top: 200px;
}
.news{
    background-color: #01579b !important;
}
.warning{
    background-color: #ff6f00 !important;
}
.success{
    background-color: #004d40 !important;
}
.danger{
    background-color: #b71c1c !important;
}
.chip.warning, .chip.news, .chip.success, .chip.danger{
    color: #fff !important;
}
.create_user_btn{
	margin: 20px 0;
	text-align: center;
}
.text-center {
    text-align: center;
    font-style: italic;
}
.panel {
    border: 1px solid #ccc;
    margin: 7px 0;
    box-shadow: 3px 4px 7px #ccc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.panel-title{
	color: #fff;
}
.panel-title {
    box-sizing: border-box;
    padding: 0.5px;
    text-align: center;
    box-shadow: 1px 1px 1px #4e4e2d;
}
.panel-body {
    padding: 0 10px 10px;
}
.span_tit_video{
    bottom: 4% !important;
}
.full{
    width: 100%;
}
.oculto{
    display: none;
}
.n_user{
    text-align: center;
    display: block;
}
.center{
    margin: 0 auto;
    display: block;
}
img.materialboxed.center.initialized {
    max-width: 100%;
}
#toggle_file{
    display: none;
}